*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.retangulo {
    width: 80px;
    height: 80px;
    background-color: rgb(45, 45, 255);
    margin: 60px auto 20px;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.retangulo2{    
    width: 80px;
    height: 80px;
    background-color: rgb(255, 45, 45);
    margin: 50px auto 20px;
    display: flex;   
    justify-content: space-around;
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 80px;
    height: 80px;
}

.verde {
    background-color: green;
}

.roxo {
    background-color: blueviolet;
}